<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de lenguajes de programación</title>
</head>
<body>
    <h1 style="text-align: center;">Mi listado</h1>
    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Lenguaje</th>
                <th scope="col">>Acción</th>
            </tr>
        </thead>
    </table>
</body>
</html>